.menuIcons {
    position: absolute;
    width:38vw;
    top: 48vh;
    transform: translateX(-50%) translateY(-50%);
}

#menuIcon_ALL {
	left: 28.5vw;
}

#menuIcon_Starred {
	left: 71.5vw;
}

#iniWindowBG {
	width: 95%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    opacity: 0.2;
    visibility: hidden;
}

#iniWindowCurrentTask {
    font-size: 7vw;
    margin-top: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
    width: 100%;
    text-align: center;
}

#synchronizeIcon {
	position: absolute;
    width: 18%;
    height: 18%;
    left: 50%;
    top: 82%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
    filter: grayscale(0.6);
}
